---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="de">
	<head>
		<BaseHead title="About - over-cloud.de" description="Wer steckt hinter over-cloud.de?" />
	</head>
	<body>
		<Header />
		<main>
			<h1>About</h1>
			<p>
				Hier schreibe ich Gedanken und Notizen auf.
			</p>
		</main>
		<Footer />
	</body>
</html>
